{% extends "base.html" %}
{% block content %}
<h1 class="banner">Users</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<ul class="user-list">
    {% for user in users %}
    <li class="user-entry">
        <a href="{{ url_for('favorite_movies_of_user', user_id=user.id) }}" class="fancy-button">{{ user.name }}</a>
    </li>
    {% endfor %}
</ul>

<form action="{{ url_for('create_user') }}" method="post">
    <label for="create_user" class="fancy-label">Add new User</label>
    <input type="text" id="create_user" name="create_user" value="Username"required>
    <input type="submit" value="Create User" class="fancy-button">
</form>

{% endblock %}